<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mygld.zhihuiwen_server.mapper.CategoryMapper">
    <insert id="addCategory">
        INSERT INTO category(user_id, catalog, name, description, created_at, updated_at)
        VALUES (#{userId}, #{catalog}, #{name}, #{description}, #{createdAt}, #{updatedAt})
    </insert>
    <update id="updateCategory">
        UPDATE category
        SET name = #{name},
            description = #{description},
            updated_at = #{updatedAt}
        WHERE id = #{id} and user_id = #{userId}
    </update>
    <delete id="deleteCategory">
        DELETE FROM category
        WHERE id = #{id} and user_id = #{userId}
    </delete>

    <select id="selectQuestionnaireCategoryByUserId" resultType="top.mygld.zhihuiwen_server.pojo.Category">
        SELECT * FROM category
        WHERE user_id = #{userId}
          AND catalog = 'questionnaire' ORDER BY updated_at DESC
    </select>
    <select id="selectQuestionnaireCategoryByUserIdAndName"
            resultType="top.mygld.zhihuiwen_server.pojo.Category">
        SELECT * FROM category
        WHERE user_id = #{param1}
          AND catalog = 'questionnaire'
          AND name = #{param2}
    </select>
    <select id="selectQuestionnaireCategoryLike" resultType="top.mygld.zhihuiwen_server.pojo.Category">
        SELECT * FROM category
        WHERE catalog = 'questionnaire'
          AND name LIKE CONCAT('%', #{param2}, '%') AND user_id = #{param1} ORDER BY updated_at DESC
    </select>

</mapper>